/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 1.25rem;
    overflow-x: hidden;
}

body {    
    font: 600 150%/1.5 'Lato', sans-serif;
    color: #6c757d;
    letter-spacing: 1.5px;  
    overflow-x:hidden;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;        
    letter-spacing: 4px;  
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    color: navy;
    text-shadow: 4px 4px 6px rgba(0, 0, 128, .5);
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.5;
    text-shadow: 1px 2px 3px rgba(0, 0, 128, .5);
}

h3 {
    font-size: 1.25rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none; 
}

/* Header Styles*/

.main-header {
    width: 100vw;
    height: 90vh;
    min-height: 750px;
}

#main-header-image {
    background: url('../images/main-header-image.jpg') center / cover no-repeat;    
}

#main-colombia-image {
    background: url('../images/colombia-two.jpg') center / cover no-repeat;   
}

#main-peru-image {
    background: url('../images/peru-two.jpg') center / cover no-repeat;   
}

#main-contact-image {
    background: url('../images/contact-header.jpg') center / cover no-repeat;   
}

#logo {    
    color: beige;
    font-size: 150%;    
    padding-top: 10rem;
    text-shadow: 5px 5px 6px rgba(0, 0, 128, .8);       
}

#logo-container {
    width: 100%;
    height: auto;    
}

#nav-style {
    font-size: 45%;
    letter-spacing: 1.5px; 
    font-weight: 600;
    line-height: 75px;
    padding: 30px;   
}

#nav-style li {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-left:5px
}

#nav-style a {
    text-decoration: none;
    color: navy;
    text-transform: uppercase;
}  

#nav-style a:hover {
    border-bottom: 1px solid navy;
}

.active-link  {
    border-bottom: 1px solid navy;
}

/* Main Styles */

header, footer {
    text-align: center;
}

main {
    hyphens: auto;
}

.smaller-screen-h1 {
    font-size: 2.5rem;
}

.smaller-screen-h2 {
    font-size: 1.5rem;
}

/* Intro Section Styles*/

#intro-wrapper {
    width: 100%;
    height: auto;
    padding: 4rem 0.75rem;
    margin: 0 auto;
    display: flow-root; 
    text-align: justify;  
}

#intro-div-left {
    width: 100%;
    padding: 0;
    margin: 0 auto;  
    float: left;      
}

#intro-div-right {
    width: 100%;
    padding: 0;
    margin: 0 auto;    
    float: right;
}

/* Section Styles */

#main-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background-color: rgba(245, 245, 220, 0.5);
}

.region-section-one {
    width: 100%;
    height: auto;
}

#main-video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.tourism-video {   
    margin: 0 auto;  
    text-align: center;
    width: 100%;
    height: auto;
    border: 10px solid black;    
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .6);
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.tourism-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.background-navy {
    padding: 2rem 0;
    background-color: rgba(0, 0, 128, 0.4)
}

.main-section-style {
    width: 100%;  
    height: auto;  
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px dashed silver;
}

#no-border-bottom {
    border-bottom: none;
}

.main-country-section {
    padding: 4rem 0.75rem;
    margin: 0 auto;       
    width: 100%;
    height: auto;
    text-align: center; 
    display: flow-root;   
}

.main-section-intro-pic {    
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .5);
}

#main-colombia-pic {
    width: 100%;    
    margin: 0;
    padding: 0;
    float: right;
}

#main-peru-pic {
    width: 100%;    
    margin: 0;
    padding: 0;
    float: left;    
}

#main-section-peru-pic {
    border-radius: 0;
}

#main-colombia-text {
    float: left;
    width: 100%;    
    text-align: justify;
}

#main-colombia-text h1 {
    text-align: center;
}

#main-peru-text h1 {
    text-align: center;
}

#region-colombia-text {    
    width: 100%;       
    padding: 0.75rem;
    margin: 2rem 0;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.3);
    color: beige;
    text-transform: capitalize;
    line-height: 3rem;  
}

#peru-tour-video {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .5);
}

#inca-trail-left {
    width: 100%;
    float: left;
}

#inca-trail-right {
    width: 100%;
}

#join-us-tour {
    width: 65%;
    height: auto;   
    background-color: black;
    margin-bottom: 4rem;
}

#region-peru-text {    
    width: 100%;
    height: auto;
    display: flow-root;
    margin: 0 auto;
    padding: 2rem 0.75rem;
    text-align: center;
    color: beige;    
    text-transform: capitalize;
    line-height: 3rem; 
}

#region-peru-text p {
    text-align: justify;
}

#region-peru-text h1 {
    color: beige;
}

#region-colombia-gallery {    
    width: 100%;
    margin: 0 auto;    
    padding: 20px;
    background-color: rgba(0, 0, 128, 0.3);    
    line-height: 0;
    column-count: 2;
    column-gap: 0;    
}

.image-container {
    position: relative;
    width: 100%;
}
  
.gallery-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.gallery-middle {
    width: 90%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.image-container:hover .gallery-image {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.1);
    z-index: 1;
}
  
.image-container:hover .gallery-middle {
    opacity: 1;
}
  
.gallery-text {   
    background-color: beige;
    color: navy;
    font-size: 16px;
    padding: 1rem;
    border-radius: 10px;
}

.region-photo-gallery {
    border: 5px solid transparent;
    border-radius: 10px;
    width: 100%;
}

#colombia-gallery-div {
    height: auto;
    margin: 2rem 0;
}

#experience-button-1, #experience-button-2  {
    background-color: rgba(245, 245, 220, 0.8);
    border: 1px solid navy;
    color: navy;
}

#experience-button-1:hover, #experience-button-2:hover {
    background-color: rgba(245, 245, 220);
}

#main-peru-text {
    margin: 0;
    float: right;
    width: 100%;
    text-align: justify;
}

#main-expediation-text {
    margin: 0;
    float: left;
    width: 100%; 
    padding: 20px 0 30px 0;
    text-align: justify;
}

#expediation-header {
    text-align: center;
}

.discover-button-div {    
    padding: 5px 0 40px 0;
    margin: 0 auto;
}

#button-expediation {
    padding: 5px 0 40px 0;
    clear: both;
    text-align: center;
}

#colombia-button {
    padding-bottom: 4rem;
}

#peru-button {
    padding-bottom: 4rem;
}

.discover-button-style {
    display: block;
    width: 250px;
    padding: .5rem 1rem;
    border-radius: 20px/10px;
    box-shadow: 1px 2px 3px rgb(0, 0, 128);
    margin: 1rem auto;    
    border: 1px solid navy;
    color: navy;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.discover-button-style:hover {
    background-color: navy;
    border: 1px solid beige;
    color: beige;  
    box-shadow: 1px 2px 3px beige;
}

/* Footer Style */

#footer-style {
    width: 100%;
    min-height: 10rem;  
    background-color: beige;
    color: navy;
    text-align: center;    
}

footer a {
    color: navy;
}

#footer-div {
    float: left;
    width: 100%;  
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

#social-icons-footer {
    width: 100%;    
    float: right;       
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    font-size: 120%;
}

.social-icons {
    color: navy;
    margin-right: 1rem;
}

.social-icons:hover {
    transform: scale(1.2);
}

/* Form Style */

#contact-form-wrapper {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#form-style {
    width: 100%;
    padding: 4rem 1rem;
    background-color: rgba(245, 245, 220, 0.6);
    text-align: left;
    line-height: 2;
}

#form-style h1 {
    text-align: center;
}

#form-style p {
    text-align: justify;
}

#form-style input, #form-style select {
    width: 300px;
    height: 50px;
    font: 300 75%/1.5 'Lato', sans-serif;
    color: #6c757d;
    letter-spacing: 1.5px; 
    padding-left: 20px;
    clear: both;
    background-color: rgba(245, 245, 220, 0.5);
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 128, .2);
    border: 1px solid #6c757d;
    border-radius: 10px;
}

form label {
    font-weight: 900;
    margin-right: 25%;
}

#radio-input input {
    width: 30px;
    height: 30px;
    box-shadow: none;
    text-align: center;
    margin-right: 45%;
    margin-top: 1rem;
    background-color: transparent;
}

/* Media Queries min-width: 400px */

@media only screen and (min-width: 400px) { 
    
    #nav-style {
        font-size: 50%;                
    }
}

/* Media Queries min-width: 600px */

@media only screen and (min-width: 600px) {
    
    #logo {
        font-size: 275%;
    }

    #nav-style {
        font-size: 60%;
        letter-spacing: 2.5px;         
    }

    #nav-style li {
        margin: 0 auto;
        margin-right: 30px;
    } 
    
    #form-style input, #form-style select {
        float: right;
    }

    form label {
        margin-right: 0;
    }    
}

/* Media Queries min-width: 800px */

@media only screen and (min-width: 800px) {

    .smaller-screen-h1 {
        font-size: 3rem;
    }

    .smaller-screen-h2 {
        font-size: 2.25rem;
    }    
    
    #logo {
        font-size: 350%;
    }

    #nav-style {
        font-size: 100%;
        letter-spacing: 4px;         
    }
    
    #form-style {        
        padding: 4rem; 
    }

    #region-colombia-text {    
        width: 90%; 
        margin: 2rem auto;       
        border-radius: 20px;           
        padding: 3rem;           
        line-height: 4rem;         
    }

    #region-colombia-gallery {    
        width: 90%;      
        border-radius: 20px;
        column-count: 4;    
    }

    #region-peru-text {    
        width: 90%;
        height: auto;        
        border-radius: 20px;
        border: 1px solid rgba(245, 245, 220, 0.2);
        box-shadow: 0 0 20px 10px rgba(0, 0, 128, .6);
        padding: 2rem; 
    }
    
    #intro-wrapper {
        width: 90%;
        margin: 0 auto;        
        padding: 2rem 2rem 4rem 2rem;
        text-align: justify; 
    }

    .main-country-section {
        padding: 4rem 2rem;       
        width: 90%;         
    }

    #main-colombia-text {   
        text-align: justify;
    }

    #main-peru-text {   
        text-align: justify;
    }

    .main-section-intro-pic {    
       border-radius: 50px;
    }

    #main-section-peru-pic {    
        border-radius: 50px;
     }

    #footer-div {        
        width: 50%;  
        margin: 0;
        padding: 2.5rem;
    }
    
    #social-icons-footer {
        width: 50%;       
        margin: 0;
        padding: 2.25rem; 
    }

    .social-icons {
        margin-right: 1.5rem;
    }

    #footer-style {
        min-height: 8rem;           
    }
}

/* Media Queries min-width: 900px */

@media only screen and (min-width: 900px) {
    #contact-form-wrapper {
        width: 90%;       
        padding: 1rem; 
    }

    #form-style {            
        box-shadow: 0 0 20px 10px rgba(0, 0, 128, .5);        
        border-radius: 20px;    
    }
}

/* Media Queries min-width: 1100px */ 

@media only screen and (min-width: 1100px) {
    
    #contact-form-wrapper {
        width: 75%; 
        padding: 2rem;      
    }

    #region-colombia-text {    
        width: 80%;      
        margin: 4rem auto;       
    }

    #region-colombia-gallery {    
        width: 80%;
        margin-top: 4rem;   
    }

    #colombia-gallery-div {
        margin: 4rem 0;
    }

    #region-peru-text {    
        width: 80%;
        height: auto;
        text-align: left;
    } 

    #inca-trail-left {
        width: 50%;
        float: left;
        padding-right: 50px;
    }

    #inca-trail-right {
        width: 50%;
        float: right;
    }

    .background-navy {
        padding: 4rem 0;
    }     

    #intro-wrapper {
        width: 80%;        
        padding: 2rem 2rem 4rem 2rem;  
    }

    .main-country-section {               
        width: 80%;          
    }  
}

/* Media Queries min-width: 1300px */

@media only screen and (min-width: 1300px) {
    #contact-form-wrapper {
        width: 65%;
        padding: 3rem;     
    } 
    
    #main-colombia-text {
        float: left;
        width: 50%;    
        text-align: left;        
    }

    #main-peru-text {
        float: right;
        width: 50%;    
        text-align: right;        
    }

    #main-colombia-text h1 {
        text-align: left;
    }

    #main-peru-text h1 {
        text-align: right;
    }

    #main-colombia-text a {
        margin-left: 0;
    }

    #main-peru-text a {
        margin-right: 0;
    }

    #main-colombia-pic {
        width: 50%;
        float: right;
        padding-left: 1rem;
    }

    #main-peru-pic {
        width: 50%;
        float: left;
        padding-right: 1rem;
    }

    .main-section-intro-pic {    
        border-radius: 0 50px 50px 0;
    }

    #main-section-peru-pic {    
        border-radius: 50px 0 0 50px;
    }

    #colombia-button {
        padding-bottom: 0;
    }

    #peru-button {
        padding-bottom: 0;
    }
}

/* Media Queries min-width: 1600px */ 

@media only screen and (min-width: 1600px) {
    #contact-form-wrapper {
        width: 55%;
        padding: 4rem;      
    }

    #region-colombia-text {    
        width: 65%;      
    }

    #region-colombia-gallery {    
        width: 65%; 
    }

    #region-peru-text {    
        width: 65%;
        height: auto; 
    }

    #intro-wrapper {
        width: 65%;        
        padding: 4rem;  
    }

    .main-country-section {
        padding: 4rem;             
        width: 65%;           
    }

}

/* Media Queries min-width: 1800px */

@media only screen and (min-width: 1800px) {
    #contact-form-wrapper {
        width: 50%;      
    }
}