/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 1.25rem;
    overflow-x:hidden;
}

body {    
    font: 600 150%/1.5 'Lato', sans-serif;
    color: #6c757d;
    letter-spacing: 1.5px;  
    overflow-x:hidden;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;        
    letter-spacing: 4px;  
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    color: navy;
    text-shadow: 4px 4px 6px rgba(0, 0, 128, .5);
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    line-height: 1.5;
    text-shadow: 1px 2px 3px rgba(0, 0, 128, .5);
}

h3 {
    font-size: 1.25rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none; 
}

/* Header Styles*/

.main-header {
    width: 100vw;
    height: 750px;
}

#main-header-image {
    background: url('../images/main-header-image.jpg') center / cover no-repeat;    
}

#main-colombia-image {
    background: url('../images/colombia-two.jpg') center / cover no-repeat;   
}

#main-peru-image {
    background: url('../images/peru-two.jpg') center / cover no-repeat;   
}

#main-contact-image {
    background: url('../images/contact-header.jpg') center / cover no-repeat;   
}

#logo {    
    color: beige;
    font-size: 250%;    
    padding-top: 3em;        
}

#logo-container {
    width: 100%;
    height: auto;    
}

#nav-style {
    font-size: 80%;
    letter-spacing: 1.5px; 
    font-weight: 600;
    line-height: 75px;
    padding: 30px;   
}

#nav-style li {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-left:5px
}

#nav-style a {
    text-decoration: none;
    color: navy;
    text-transform: uppercase;
}  

#nav-style a:hover {
    border-bottom: 1px solid navy;
}

.active-link  {
    border-bottom: 1px solid navy;
}

/* Main Styles */

header, footer {
    text-align: center;
}

main {
    hyphens: auto;
}

/* Intro Section Styles*/

#intro-wrapper {
    width: 100%;
    height: 700px;
    padding: 50px 0;
    margin-bottom: 20px;
}

#intro-div-left {
    width: 40%;
    padding: 50px 0 50px 0;    
    margin: 0 auto;  
    float: left;        
}

#intro-div-right {
    width: 60%;
    padding: 0;
    margin: 0 auto;    
    float: right;
}

/* Section Styles */

#main-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    background-color: rgba(245, 245, 220, 0.5);
}

.region-section-one {
    width: 100%;
    height: 750px;
}

#main-video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.tourism-video {   
    margin: 0 auto;    
    text-align: center;
    width: 65%;
    height: 85%;
    border: 10px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .6);
}

.background-beige {
    padding-top: 4rem;
    background-color: rgba(245, 245, 220, 0.5);
}

.main-section-style {
    width: 65%;    
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px dashed silver;
}

#no-border-bottom {
    border-bottom: none;
    padding-bottom: 30px;
}

.main-country-section {
    padding: 100px 0 0 0;
    margin-bottom: 50px;
    margin: 0 auto;       
    width: 100%;
    height: 1000px;
    text-align: center;    
}

.main-section-intro-pic {    
    width: 100%;
    height: auto;
    border-radius: 50px 0 0 50px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .5);
}

#main-colombia-pic {
    width: 50%;    
    margin: 0;
    padding: 0;
    float: left;
}

#main-peru-pic {
    width: 50%;    
    margin: 0;
    padding: 0;
    float: right;    
}

#main-section-peru-pic {
    border-radius: 0 50px 50px 0;
}

#main-colombia-text {
    float: right;
    width: 50%; 
    padding: 20px 0 30px 50px;   
    text-align: right;
}

#region-colombia-text {    
    width: 65%;
    margin: 0 auto;    
    padding: 3rem;
    margin-top: 4rem;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.3);
    color: beige;
    border-radius: 20px;
    text-transform: capitalize;
    line-height: 4rem;  
}

#peru-tour-video {
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 128, .5);
}

#inca-trail-left {
    width: 50%;
    float: left;
    padding-right: 50px;
}

#inca-trail-right {
    width: 50%;
    float: right;
    margin: 0;
    padding: 0;
}

#join-us-tour {
    width: 65%;
    height: auto;   
    background-color: black;
    margin-bottom: 4rem;
}

#join-us-div {
    height: 900px;
}

#region-peru-text {    
    width: 65%;
    height: 85%;
    margin: 0 auto;    
    padding: 3rem;
    margin-top: 1rem;
    text-align: justify;
    background-color: rgba(0, 0, 128, 0.4);
    color: beige;
    border-radius: 20px;
    text-transform: capitalize;
    line-height: 4rem;  
}

#region-colombia-gallery {    
    width: 65%;
    margin: 0 auto;    
    padding: 20px;
    margin-top: 4rem;
    background-color: rgba(0, 0, 128, 0.3);
    border-radius: 20px;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.region-photo-gallery {
    border: 5px solid transparent;
    border-radius: 10px;
    width: 100%;
}

.region-photo-gallery:hover {
    transform: scale(1.5);
    cursor: pointer;    
}

#colombia-gallery-div {
    height: 900px;
    margin-bottom: 4rem;
}

#experience-button {
    background-color: rgba(245, 245, 220, 0.8);
    border: 1px solid navy;
    color: navy;
}

#experience-button:hover {
    background-color: rgba(245, 245, 220);
}

#main-peru-text {
    margin: 0;
    float: left;
    width: 50%; 
    padding: 20px 50px 30px 0;
    text-align: left;
}

#main-expediation-text {
    margin: 0;
    float: left;
    width: 100%; 
    padding: 20px 0x 30px 0;
    text-align: justify;
}

#expediation-header {
    text-align: center;
}

.discover-button-div {    
    padding: 5px 0 40px 0;
    clear: both;
    float: left;
}

#button-expediation {
    padding: 5px 0 40px 0;
    clear: both;
    text-align: center;
}

#colombia-button {
    float: right;
}

.discover-button-style {
    display: block;
    width: 250px;
    padding: .5rem 1rem;
    border-radius: 20px/10px;
    box-shadow: 1px 2px 3px rgb(0, 0, 128);
    margin: 1rem auto;    
    border: 1px solid navy;
    color: navy;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.discover-button-style:hover {
    background-color: navy;
    border: 1px solid beige;
    color: beige;  
    box-shadow: 1px 2px 3px beige;
}

#footer-style {
    width: 100%;
    height: 150px;    
    background-color: beige;
    color: navy;
    text-align: center;    
}

#footer-div {
    float: left;
    width: 50%;  
    margin: 0;
    padding: 50px; 
}

#social-icons-footer {
    width: 50%;    
    float: right;       
    margin: 0;
    padding: 45px;
    font-size: 120%; 
}

.social-icons {
    margin-right: 40px;
}

/* Form Style */

#contact-form-wrapper {
    width: 65%;
    height: 900px;
    margin: 0 auto;
    padding: 0;
    background-color: rgba(255, 192, 203, 0.1);
}

/* Media Queries min-width: 600px */

@media only screen and (min-width: 600px) {
    #logo {
        font-size: 400%;    
        padding-top: 1.5em;     
    }

    #nav-style {
        font-size: 90%;
        letter-spacing: 2.5px;         
    }

    #nav-style li {
        margin: 0 auto;
        margin-right: 40px;
    }  
}

/* Media Queries min-width: 800px */

@media only screen and (min-width: 800px) {
    #logo {
        font-size: 500%;    
        padding-top: 0.75em;     
    }

    #nav-style {
        font-size: 120%;
        letter-spacing: 4px;         
    } 
}
