/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 1.25rem;
}

body {    
    font: 300 100%/1.5 'Lato', sans-serif;
    color: silver;
    letter-spacing: 1.5px;  
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    line-height: 1.1; 
    text-transform: uppercase;
    letter-spacing: 4px;  
}

h1 {
    text-shadow: 4px 4px 6px rgba(0, 0, 128, .5);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
}

img {
    width: 100%;
}

/* Header Styles*/

#main-header-image {
    background: url('../images/main-header-image.jpg') center / cover no-repeat;
    width: 100vw;
    height: 750px;
}

#logo {    
    color: beige;
    font-size: 250%;    
    padding-top: 3em;        
}

#logo-container {
    width: 100%;
    height: auto;    
}

#nav-style {
    font-size: 80%;
    letter-spacing: 1.5px; 
    font-weight: 600;
    line-height: 75px;
    padding: 30px;   
}

#nav-style li {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-left:5px
}

#nav-style a {
    text-decoration: none;
    color: navy;
    text-transform: uppercase;
}  

#nav-style a:hover {
    border-bottom: 1px solid navy;
}

.active-link  {
    border-bottom: 1px solid navy;
}

/* Main Styles */

header, footer {
    text-align: center;
}

main {
    hyphens: auto;
}

/* Section Styles */

#main-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.main-section-style {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px dashed silver;
}

#main-section-colombia {
    background-color: beige;
    width: 100%;
}

.main-section-div {
    width: 65%;
    margin: 0 auto;
}

.main-section-intro-pic {
    float: left;
    width: 30%;
    height: auto;
    border: 10px solid navy;
    border-radius: 50%;
}


/* Media Queries min-width: 600px */

@media only screen and (min-width: 600px) {
    #logo {
        font-size: 400%;    
        padding-top: 1.5em;     
    }

    #nav-style {
        font-size: 90%;
        letter-spacing: 2.5px;         
    }

    #nav-style li {
        margin: 0 auto;
        margin-right: 40px;
    }  
}

/* Media Queries min-width: 800px */

@media only screen and (min-width: 800px) {
    #logo {
        font-size: 500%;    
        padding-top: 1em;     
    }

    #nav-style {
        font-size: 120%;
        letter-spacing: 4px;         
    } 
}
